@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

.xl-home-img {
    height: 400px;
    width: 500px;
}

.sm-home-img {
    height: 180px;
    width: 400px;

}

.sm-form {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    color: #ffffff;
}

.md-form {
    padding: 2rem 3.5rem;
    border-radius: 0.5rem;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    color: #1a202c;
}

.sm-fullname {
    height: 40px;
    width: 200px;
}